<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>137533668291-t8dbj65eaaav3gk83gqej380oi2k9cfi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.137533668291-t8dbj65eaaav3gk83gqej380oi2k9cfi</string>
	<key>API_KEY</key>
	<string>AIzaSyCmQSpbNUxKgo3hVl60gPeRa5skFltLQDQ</string>
	<key>GCM_SENDER_ID</key>
	<string>137533668291</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.getem.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>getem-70711</string>
	<key>STORAGE_BUCKET</key>
	<string>getem-70711.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:137533668291:ios:ef9ed63b08741c5ea0db76</string>
</dict>
</plist>